{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>Manage Departments</title>
    </head>
    <body>
        <div class="container">
            <div class="row pt-3">

                <div class="col-sm">
                    <!--EMPTY COLUMN-->
                </div>

                <div class="col-10 bg-light rounded border shadow">
                    
                    <br>

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            {% if message.tags == "error" %}
                            <div class="alert alert-danger alert-dismissible fade show" name="{{ message.tags }}"role="alert">
                                <strong>Error : </strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endif %}
                            {% if message.tags == "success" %}
                            <div class="alert alert-success alert-dismissible fade show" name="{{ message.tags }}"role="alert">
                                <strong>Success : </strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <div class="text-center pt-3">
                        <img src="https://i.ibb.co/BN7M0W3/Whats-App-Image-2019-09-16-at-11-30-13-AM.jpg" class="img-responsive" height="50">
                        <h5>Manage Departments</h5>
                        <button type="button" class="btn btn-warning" onclick="home()">Home</button>
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#Add_Department_Modal">Add Department</button>
                    </div>

                    <br>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">N.o</th>
                                <th scope="col">Department Id</th>
                                <th scope="col">Department Name</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for department in department_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{department.id}}</td>
                                <td>{{department.name}}</td>                                
                                <form class=""  method="POST" action="">
                                    {% csrf_token %}
                                    <td>
                                        <button type="button" class="btn btn-danger pb-2" id="delete-{{department.id}}" value="{{department.name}}" data-toggle="modal" data-target="#Delete_Department_Modal" onclick="delete_department(this)">Delete</button>                    
                                        <button type="button" class="btn btn-warning" id="edit-{{department.id}}" value="{{department.name}}" onclick="edit_department(this)" data-toggle="modal" data-target="#Edit_Department_Modal">Edit</button>
                                    </td>
                                </form>                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

                <div class="col-sm">
                    <!--EMPTY COLUMN-->
                </div>

            </div>
        </div>

        <!-- Add Department Modal Start -->
        <div class="modal fade" id="Add_Department_Modal" tabindex="-1" role="dialog" aria-labelledby="Add_Department_Modal_Title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form id="Add_Department_Form" method="POST" action="/administrator/manage_departments/add_department_process/">
                        {% csrf_token %}
                        <div class="form-group" method="GET">
                          <label for="Department_Name">Department Name</label>
                          <input type="text" class="form-control" id="Department_Name" name="Department_Name" placeholder="Enter Department Name" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="Add_Department_Form" class="btn btn-primary">Save Department</button>
                </div>
            </div>
            </div>
        </div>
        <!-- Add Department Modal End -->

        <!-- Delete Department Modal Start -->
        <div class="modal fade" id="Delete_Department_Modal" tabindex="-1" role="dialog" aria-labelledby="Delete_Department_Modal_Title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <h6 id="delete_message_modal"></h6>
                    <form id="Delete_Department_Form" method="POST" action="/administrator/manage_departments/delete_department_process/">
                        {% csrf_token %}
                        <input type="hidden" id="Delete_Department_Id" name="Delete_Department_Id" value="">
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" form="Delete_Department_Form">Delete Department</button>
                </div>
            </div>
            </div>
        </div>
        <!-- Delete Department Modal End -->   
        
        <!-- Edit Department Modal Start -->
        <div class="modal fade" id="Edit_Department_Modal" tabindex="-1" role="dialog" aria-labelledby="Edit_Department_Modal_Title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Department</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form id="Edit_Department_Form" method="POST" action="/administrator/manage_departments/edit_department_process/">
                        {% csrf_token %}
                        <div class="form-group" method="GET">
                          <label for="Department_Name">Department Name</label>
                          <input type="text" class="form-control" id="Department_Name_Edit_Input" name="Department_Name" placeholder="Enter Department Name" required>
                          <input type="hidden" id="Edit_Department_Id" name="Edit_Department_Id" value="">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="Edit_Department_Form" class="btn btn-primary">Save Department Edit</button>
                </div>
            </div>
            </div>
        </div>
        <!-- Edit Department Modal End -->

        <script>
            function home() {
              location.replace("/administrator")
            }

            function delete_department(click){
                var delete_message
                var hidden_delete_input

                delete_message = document.getElementById("delete_message_modal")
                delete_message.innerHTML = "Are your sure you want to delete \"" + click.value + "\" department? Employees in this department will be set to \"No Department\""

                hidden_delete_input = document.getElementById("Delete_Department_Id")
                hidden_delete_input.value = click.id.slice(click.id.lastIndexOf('-') + 1)
            }
            
            function edit_department(click){
                var department_name_input
                var hiddne_edit_input

                department_name_input = document.getElementById("Department_Name_Edit_Input")
                department_name_input.value = click.value

                hiddne_edit_input = document.getElementById("Edit_Department_Id")
                hiddne_edit_input.value = click.id.slice(click.id.lastIndexOf('-') + 1)
            }
        </script>
    </body>
</html>
